
<html>
    <head>
      <title>Step's blog</title>
    </head>
    <body>
      <div>
        <h1><a href="">Django Girls Blog</a></h1>
      </div>

      <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My first post</a></h2>
        <p>Sta per arrivare un temporale e io non ho l'ombrello.</p>
      </div>

      <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My second post</a></h2>
        <p>c'è tanto vento, mi prenderò la pioggia</p>
      </div>
    </body>
</html>
